<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <div class="input-wrapper">
    <mat-form-field>
      <input matInput placeholder="Money" id="money" name="money"
             [formControl]="money"
             [maxLength]="255">
      <mat-error *ngIf="money.hasError('required')">
        <span>Money is required</span>
        <span class="width-fill"></span>
        <span><mat-icon>warning</mat-icon></span>
      </mat-error>
      <mat-error *ngIf="money.hasError('format')">
        <span>Format should be like 0.00</span>
        <span class="width-fill"></span>
        <span><mat-icon>warning</mat-icon></span>
      </mat-error>
    </mat-form-field>
  </div>

  <div class="input-wrapper">
    <mat-form-field>
      <mat-select placeholder="From" [formControl]="from">
        <mat-option *ngFor="let account of accounts" [value]="account.id">{{account.name}}</mat-option>
      </mat-select>

      <mat-error *ngIf="from.hasError('required')">
        <span>From are required</span>
        <span class="width-fill"></span>
        <span><mat-icon>warning</mat-icon></span>
      </mat-error>
    </mat-form-field>
  </div>

  <div class="input-wrapper">
    <mat-form-field>
      <mat-select placeholder="To" [formControl]="to">
        <mat-option *ngFor="let account of accounts" [value]="account.id">{{account.name}}</mat-option>
      </mat-select>

      <mat-error *ngIf="to.hasError('required')">
        <span>To are required</span>
        <span class="width-fill"></span>
        <span><mat-icon>warning</mat-icon></span>
      </mat-error>
    </mat-form-field>
  </div>

  <button mat-raised-button class="button" name="action" type="submit">Save</button>
</form>
